
MP1/CSS/boots.css
MP1/GIFs/barista.gif
MP1/GIFs/designer.gif
MP1/GIFs/drummer.gif
MP1/GIFs/encoder.gif
MP1/GIFs/printing.gif
MP1/GIFs/webdev.gif
MP1/Images/bg.jpg
MP1/Images/grad pic hat1.jpg
MP1/Images/image here.jpg
MP1/Images/intro.jpg
MP1/Images/myself.png
MP1/Images/poster.jpg
MP1/index.html
MP1/PDFs/CPB.pdf
MP1/Videos/Ganyan Talaga - Herbz and Spicez Band (Recording).mp4
MP1/Videos/Manayakis - Herbz and Spicez Band (Live).mp4
MP1/Videos/Yokabats - Herbz and Spicez Band (Live).mp4
